header {
    background-color: var(--header-background-color);
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid var(--header-border-color);
}

button#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: rgb(105, 8, 8);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button#backButton:hover {
    background-color: darkred;
}

article {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--section-border-color);
    border-radius: 4px;
    background-color: var(--background-color);
}

article h2 {
    margin-top: 0;
}

article p {
    line-height: 1.6;
}
