body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.title {
    color: beige;
}

header {
    display: block;
    height: 100px;
    padding: 5.5px;
    background-color: rgb(105, 8, 8);
    margin: 0;
    padding: 0;
    border: 20px solid black;
}

img,
section {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
    flex-direction: column;
    height: 70vh;
}

form {
    display: flex;
    margin: 10px;
    width: 40%;
    flex-direction: column;
}

section {
    height: 70%;
    width: 70%;
    border: 5px solid black;
}

main {
    display: flex;
    height: 65%;
}

main section {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    border: 5px black solid;
    flex-direction: column;
    height: 70vh;
}

form {
    display: flex;
    margin: 10px;
    width: 40%;
    flex-direction: column;
}

section {
    display: flex;
}

section img {
    height: 70%;
    width: 70%;
    border: 5px solid black;
}

.switch {
    position: absolute;
    top: 20px;
    right: 20px; /* Position the switch to the right */
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #beige;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #beige;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}